/* Efeito hover para ícones barra superior */
.navbar-brand[href*="facebook.com"]:hover .bi-facebook {
  color: var(--roxoescuro) !important;
  transition: color 0.2s;
}
.navbar-brand[href*="x.com"]:hover .bi-twitter-x {
  color: var(--roxoescuro) !important;
  transition: color 0.2s;
}
.navbar-brand[href*="instagram.com"]:hover .bi-instagram {
  color: var(--roxoescuro) !important;
  transition: color 0.2s;
}
.navbar-brand[href*="linkedin.com"]:hover .bi-linkedin {
  color: var(--roxoescuro) !important;
  transition: color 0.2s;
}
/* Efeito hover para o ícone do GitHub na barra superior */
.navbar-brand[href*="github.com"]:hover .bi-github {
  color: var(--roxoescuro) !important;
  transition: color 0.2s;
}
/* paleta de cores para o meu portefolio */
:root {
  --periwinkle: #ccccff;
  --roxoacinzentado: #a3a3cc;
  --roxoescuro: #5c5c99;
  --azulado: #292966;
}


.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 2px;
  margin: 5px;
  background: #ffffff;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

/* fonte do site */
.suse-mono-uniquifier {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* background customizado */
.bg-roxoacinzentado {
  background-color: var(--roxoacinzentado) !important;
}

/* texto customizado */
.text-azulado {
  color: var(--azulado) !important;
}
.bg-periwinkle {
  background-color: var(--periwinkle) !important;
}
.bg-roxoescuro {
  background-color: var(--roxoescuro) !important;
}
.bg-azulado {
  background-color: var(--azulado) !important;
}
.border-azulado {
  border-color: var(--azulado) !important;
}
.nav-link.text-azulado:hover {
  color: var(--roxoacinzentado) !important;
  transition: color 0.2s;
}
.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
/* vh para redimencionar as imagens */
body {
  background-color: #e8e8f4;
}
.trapezio-esquerda {
  position: relative;
  width: 180px;
  height: 0px;
  border-bottom: 100px solid #a3a3cc; /* cor do trapézio */
  border-left: 0 solid transparent;
  border-right: 100px solid transparent;
  flex-shrink: 0;
  margin-left: -0.75%;
}
.trapezio-esquerda i {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -5%);
  font-size: 5rem;
  color: var(--azulado);
}
.w-15 { width: 15% !important; }
.w-70 { width: 70% !important; }